/*index样式*/

/*
顶部导航栏样式
*/
#nav_top_bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgb(51, 51, 51);
  font-size: 12px;
}
#nav_top_bar a {
  font-size: 12px;
  display: block;
  color: #b0b0b0;
}
#nav_top_bar a:hover {
  color: white;
}

/*左侧服务导航*/
.server {
  float: left;
}
.server li {
  float: left;
}
.left_menu_top {
  position: relative;
}
/*二维码*/
.app {
  position: relative;
}
/*设置小三角*/
.app::after {
  display: none;
  content: '';
  width: 0;
  height: 0;
  /*设置四个方向的边框*/
  border: 8px solid transparent;
  /*去除上边框*/
  border-top: none;
  /*将下边框设为白色*/
  border-bottom-color: white;
  position: absolute;
  /*居中*/
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/*鼠标移入显示*/
.app:hover .qr_code,
.app:hover::after{
  display: block;
  height: 148px;
}
/*设置二维码*/
.app .qr_code {
  position: absolute;
  width: 124px;
  height: 0;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  left: -40px;
  line-height: 1;
  text-align: center;
  /*设置过渡效果*/
  transition: height 0.3s;
  z-index: 99;
}
/*设置二维码图片*/
.app .qr_code img{
  width: 90px;
  margin: 17px;
  margin-bottom: 10px;
}
/*设置文字*/
.app .qr_code span {
  font-size: 14px;
  color: #000000;
  margin-top: 0;
}

/*购物车*/
.shop_car {
  float: right;
  margin-left: 25px;
}
.shop_car li {
  width: 120px;
}
.shop_car li a {
  text-align: center;
  background: rgb(66, 66, 66);
}
.shop_car:hover a {
  background: rgb(255, 255, 255);
}
#nav_top_bar .shop_car li a:hover {
  color: rgb(255, 103, 0);
}

/*用户信息*/
.user_info {
  float: right;
}
.user_info li {
  float: left;
}

/*设置竖线的样式*/
.line {
  font-size: 12px;
  margin: 0 8px;
  color: #424242;
}

/*
头部样式
*/
.header_outer {
  width: 100%;
  position: relative;
}

/*设置logo*/
.header .logo {
  float: left;
  margin-top: 22px;
  position: relative;
  width: 55px;
  height: 55px;
  overflow: hidden;
}
.logo a {
  width: 55px;
  height: 55px;
  left: 0;
  position: absolute;
  background: url("../img/mi-logo.png") #ff6700 center;
  /*设置过渡动画*/
  transition: left 0.3s;
}

.logo:hover .mi {
  left: 55px;
}
/*home logo*/
.logo .home {
  left: -55px;
  background: url("../img/mi-home.png") #ff6700 center;
}
.logo:hover .home {
  left: 0;
}

/*标识符容器样式*/
.list_center {
  float: left;
  margin-left: 7px;
  padding-left: 58px;
  /*设置行高，字符居中*/
  line-height: 100px;
}
/*设置字体样式*/
.list_center .list > li {
  color: rgb(51, 51, 51);
  font-size: 16px;
  float: left;
}

.all_goods {
  visibility: hidden;
}
.list_center .list li a {
  padding-right: 20px;
  display: block;
}
/*鼠标移入字体颜色改变*/
.list_center .list > li a:hover {
  color: rgb(255, 103, 0)
}

/*左侧导航栏样式*/
.left_menu {
  width: 234px;
  height: 420px;
  background-color: rgba(85, 88, 90,1);
  position: absolute;
  left: -120px;
  padding: 20px 0;
  z-index: 8;
}
.left_menu li a {
  height: 42px;
  line-height:42px;
  width: 174px;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 0 30px;
}
.left_menu li a i {
  float: right;
  line-height: 42px;
}
.left_menu_top .left_menu li a:hover {
  background: rgb(255, 103, 0);
  color: white;
}

/*搜索容器样式*/
.input_content {
  float: right;
  margin-top: 22px;
  width: 296px;
  line-height: 52px;
}
/*搜索按钮*/
.header .search {
  float: left;
  width: 52px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: #616161;
  border: 1px solid rgb(225, 225, 225);
  border-left: none;
}
/*搜索框*/
.header input {
  float: left;
  width: 220px;
  height: 50px;
  padding: 0 10px;
  outline: none;
  border: 1px solid rgb(225, 225, 225);
}
.header input:focus,
.header input:focus + .search{
  border-color: rgb(255, 103, 0);
}

/*商品信息*/
.goods-info {
  width: 100%;
  overflow: hidden;
  height: 0;
  position: absolute;
  top: 100px;
  left: 0;
  transition: height 0.3s;
  background-color: white;
  z-index: 9;
}

.show_goods:hover ~ .goods-info,
.goods-info:hover{
  height: 228px;
  border-top: 1px solid rgb(224, 224, 224);
  box-shadow: 0 5px 3px rgba(0,0,0,.2);
}

/*
banner 样式
*/

.banner_outer {
  width: 100%;
}
.banner_window {
  height: 460px;
  /*溢出隐藏*/
  overflow: hidden;
  position: relative;
}
/*bannner 列表*/
.banner_list {
  width: 6130px;
  position: absolute;
}
.banner_list li {
  float: left;
}
.banner_list img {
  width: 1226px;
}

/*方向箭头*/
.left_arrow,.right_arrow {
  height: 42px;
  padding: 10px 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  font-size: 40px;
  color: rgb(207, 213, 214);
}
/*左箭头*/
.left_arrow {
  left: 234px;
}
/*右箭头*/
.right_arrow {
  right: 0px;
}
.left_arrow:hover,
.right_arrow:hover {
  background: rgb(106, 110, 112);
}
/*导航按钮*/
.banner_btn {
  position: absolute;
  bottom: 15px;
  right: 25px;
}
.banner_btn_list li {
  width: 8px;
  height: 8px;
  margin-left: 6px;
  float: left;
  background: rgba(0,0,0,0.4);
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.2);
  /*设置背景颜色延伸到内边距下面*/
  background-clip: padding-box;
}
.banner_btn_list li a {
  display: block;
  height: 100%;
}
/*当前点击的按钮*/
.banner_btn_list li.current_btn {
  background: rgba(249, 249, 249,.4);
}

/*右侧工具栏样式*/
.right_tools {
  position: fixed;
  bottom: 60px;
  width: 26px;
  height: 206px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(248, 248, 248);
  /* left + margin left + width + margin right + right = 视口宽度*/
  /*  auto + 0 + 26 + 0 + 50% = 视口宽度*/
  right: 50%;
  margin-right: -641px;
}
.right_tools a {
  display: block;
  height: 18px;
  font-size: 18px;
  text-align: center;
  color: rgb(153, 153, 153);
}

.right_tools a:first-child {
  margin-top: 13px;
}
.right_tools a:not(:first-child) {
  margin-top: 20px;
}
.right_tools a:hover {
  color: rgba(50, 45, 47, 0.82);
}

